body{
background-color: white;
font-family: monospace;
}
.profile-picture{
  display:block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
  height: auto;
  max-width: 200px;

  border-radius: 50%
}
.profile-name{
  text-align: center;
  padding: 25px;
  font-size: 35px;
}

.bio{
  text-align: center;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.links{
  text-align: center;
  margin-top: 20px;
  border: 1px
  border-width: 2px;
  padding: 10px;

  color: black;

  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;

  font-size: 18px;
}

a{
  text-decoration: none;

  color: black;
  transition: color .25s;
}

  a:hover{
    color: #FFDC7C;
    background color: white;


  }






