body{
background-color: white;
font-family: monospace;
margin-left: 100px;

}

.links{
  font-size: 25px;
  margin-left: 100px;
  margin-right: auto;
  margin-top:2px;
  border: 1px
  border-width: 2px;


  color: black;

  width: 290px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;

  font-size: 12px;
}

a{
  margin-left: 100px;
  text-align: center;
  text-decoration: none;


  color: black;
  transition: color .25s;
}

  a:hover{
    color: #FFDC7C;
    background color: white;


  }

.diary{
  align-items: left;
  text-align: left;
  padding-top: 20px;
  width: 300px;
  height: auto;
  padding-bottom: 20px;


}
h4{
  text-align: left;
  font-size: 10px;

}
